In [1]:
import numpy as np
import pandas as pd

In [2]:
import pandas as pd
save_path = "/home/yuqihang/projects/CoLLM/collm-datasets/ml-1m/"
# trai.to_pickle(save_path+"train_ood2.pkl")
train_ = pd.read_pickle(save_path+"train_ood2.pkl")
valid_ = pd.read_pickle(save_path+"valid_ood2.pkl")
test_ = pd.read_pickle(save_path+"test_ood2.pkl")

In [3]:
user_info = train_.groupby('uid').agg({"label":'count'})
train_user = np.array(list(user_info.index))
user_info.shape

(24722, 1)

In [4]:
user_info.quantile(0.2)

label    13.0
Name: 0.2, dtype: float64

In [5]:
user_info = user_info[user_info.label>3]
user_info.shape

(23929, 1)

In [6]:
item_info = train_.groupby('iid').agg({"label":'count'})
train_item = np.array(list(item_info.index))
item_info.shape

(49923, 1)

In [7]:
item_info.describe()

              label
count  49923.000000
mean      15.811730
std       28.974308
min        1.000000
25%        3.000000
50%        7.000000
75%       17.000000
max     1060.000000

In [8]:
item_info.quantile(0.3),item_info.shape

(label    3.0
 Name: 0.3, dtype: float64,
 (49923, 1))

In [9]:
item_info = item_info[item_info.label>3] 
item_info.shape

(34229, 1)

In [10]:
warm_user = np.array(list(user_info.index))
warm_item = np.array(list(item_info.index))

In [11]:
warm_user.shape, warm_item.shape, train_user.shape, train_item.shape

((23929,), (34229,), (24722,), (49923,))

In [12]:
test_['warm'] = test_[['uid','iid']].apply(lambda x: x.uid in warm_user and x.iid in warm_item, axis=1).astype("int")
test_['cold'] = test_[['uid','iid']].apply(lambda x: x.uid not in train_user and x.iid not in train_item, axis=1).astype("int")

In [13]:
test_.shape

(28160, 11)

In [14]:
test_.head()

,uid,iid,label,timestamp,his,his_title,title,flag,not_cold,warm,cold
58,1,1366,0,1.513987e+09,"[0, 4756, 37440, 2726, 8385, 25482, 2096, 1035...","[, ENDURANCE: SHACKLETON'S INCREDIBLE VOYAGE b...",God's Battalions: The Case for the Crusades,1.0,1,0,0
59,1,20446,0,1.514246e+09,"[0, 4756, 37440, 2726, 8385, 25482, 2096, 1035...","[, ENDURANCE: SHACKLETON'S INCREDIBLE VOYAGE b...",The Royal Treatment: A Crown Jewels Romantic C...,1.0,1,1,0
60,1,814,1,1.514419e+09,"[0, 4756, 37440, 2726, 8385, 25482, 2096, 1035...","[, ENDURANCE: SHACKLETON'S INCREDIBLE VOYAGE b...","Sarah, Plain and Tall",1.0,1,0,0
61,1,4,1,1.514678e+09,"[0, 4756, 37440, 2726, 8385, 25482, 2096, 1035...","[, ENDURANCE: SHACKLETON'S INCREDIBLE VOYAGE b...",Othello: Complete &amp; Unabridged,1.0,1,1,0
62,1,28455,1,1.514678e+09,"[0, 4756, 37440, 2726, 8385, 25482, 2096, 1035...","[, ENDURANCE: SHACKLETON'S INCREDIBLE VOYAGE b...",Richard II,1.0,1,0,0

In [15]:
test_[['not_cold','warm','cold']].describe()

           not_cold          warm          cold
count  28160.000000  28160.000000  28160.000000
mean       0.683629      0.602237      0.002415
std        0.465068      0.489445      0.049082
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        1.000000      1.000000      0.000000
75%        1.000000      1.000000      0.000000
max        1.000000      1.000000      1.000000

In [16]:
test_.to_pickle(save_path+"test_warm_cold_ood2.pkl")

In [17]:
7331*0.003547

26.003057

In [18]:
save_path+"test_warm_cold_ood2.pkl"

'/home/yuqihang/projects/CoLLM/collm-datasets/book2018/test_warm_cold_ood2.pkl'