In [11]:
import numpy as np
import pandas as pd
import os
import re
import random

In [17]:
save_path = "/home/yuqihang/projects/CoLLM/collm-datasets/bookdu/"
# train_ = pd.read_pickle(os.path.join(save_path,"train_ood2.pkl"))
# valid_ = pd.read_pickle(os.path.join(save_path,"valid_ood2.pkl"))
test_ = pd.read_pickle(os.path.join(save_path,"test_ood2.pkl"))
test_small = pd.read_pickle(os.path.join(save_path,"test_tiny_ood2.pkl"))
# valid_small = pd.read_pickle(os.path.join(save_path,"valid_small_ood2.pkl"))
# data = pd.concat([train_,valid_,test_],axis=0)
# reason = pd.read_pickle(os.path.join(save_path,"reason_ood2.pkl"))

In [18]:
test_.shape, test_small.shape

((56262, 8), (200, 8))

In [19]:
from collections import Counter
count = Counter(list(test_['uid']))
len(count)

14110

In [20]:
filter_uids = []
for uid,c in count.items():
    if c>10:
        filter_uids.append(uid)
len(filter_uids)

873

In [24]:
new_test = test_[test_['uid'].isin(random.sample(filter_uids, 12))]
len(new_test)

201

In [25]:
pd.to_pickle(new_test,os.path.join(save_path,"test_tiny_ood2_.pkl"))

In [3]:
train_.shape, valid_.shape, test_.shape

((650865, 8), (56262, 8), (56262, 8))

In [7]:
type(reason['his'][0])

list

In [5]:
valid_.head(2)

,uid,iid,label,timestamp,his,flag,his_label,not_cold
47,1,41307,0,1.510618e+09,"[0, 4114, 34136, 26120, 139, 15384, 2001, 2396...",0.0,"[0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, ...",1
48,1,3778,0,1.511136e+09,"[0, 4114, 34136, 26120, 139, 15384, 2001, 2396...",0.0,"[0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, ...",1

In [6]:
test_.head(2)

,uid,iid,label,timestamp,his,flag,not_cold
49,1,8213,1,1.512259e+09,"[0, 4114, 34136, 2396, 7264, 22828, 1808, 9006...",1.0,1
50,1,18106,0,1.514246e+09,"[0, 4114, 34136, 2396, 7264, 22828, 1808, 9006...",1.0,1

In [7]:
data.shape

(778957, 9)

In [8]:
train_.shape,valid_.shape, test_.shape

((727463, 9), (25747, 9), (25747, 9))

In [10]:
user_info = train_.groupby('uid').agg({'label':'count'})
user_info.quantile(0.1)

label    8.0
Name: 0.1, dtype: float64

In [11]:
user_info.shape

(22854, 1)

In [12]:
user_info[user_info['label']>10]

       label
uid
1         50
4         28
6         41
8         39
9         31
...      ...
22953     22
22955     16
22960     18
22962     11
22964     28

[19525 rows x 1 columns]

In [13]:
item_info = train_.groupby('iid').agg({'label':'count'})
item_info.describe()

              label
count  33713.000000
mean      21.578115
std       33.510363
min        1.000000
25%        5.000000
50%       12.000000
75%       24.000000
max     1060.000000

In [14]:
item_info.quantile(0.1)

label    3.0
Name: 0.1, dtype: float64